.shopnavbg1{ width: 100%; height: 46px; background: #00adb1; }
.navbox{ width: 100%; text-align: center;}
.navbox a{ display: inline-block; height: 46px; line-height: 46px; padding: 0 26px; color: #fff; font-size:14px;}
.navbox a.on{background: #ff8a00}